@page
@model IndexModel
@{
    ViewData["Title"] = "Anasayfa";
}
@{
    var a = new Dictionary<string, string>
{
           { "id", "1" },
           { "urun", "145698" },
            {"tutar" ,"19"},
        };
    var b = new Dictionary<string, string>
{
           { "id", "2" },
           { "urun", "985632" },
            {"tutar" ,"72"},
        };
    var c = new Dictionary<string, string>
{
           { "id", "3" },
           { "urun", "123457" },
            {"tutar" ,"44"},
        };
    var d = new Dictionary<string, string>
{
           { "id", "4" },
           { "urun", "123458" },
            {"tutar" ,"33"},
        };
    var e = new Dictionary<string, string>
{
           { "id", "5" },
           { "urun", "123459" },
            {"tutar" ,"12"},
        };
    var f = new Dictionary<string, string>
{
           { "id", "6" },
           { "urun", "223456" },
            {"tutar" ,"54"},
        };
    var g = new Dictionary<string, string>
{
           { "id", "7" },
           { "urun", "323456" },
            {"tutar" ,"43"},
        };
    var h = new Dictionary<string, string>
{
           { "id", "8" },
           { "urun", "123856" },
            {"tutar" ,"32"},
        };
    var i = new Dictionary<string, string>
{
           { "id", "9" },
           { "urun", "123476" },
            {"tutar" ,"21"},
        };
}

<div id="main-alani">
    <div class="main-sol-alan">
        <div class="sol-alan-baslik">
            <h3>Erkek T-Shirt</h3>
            <code>1548 ürün </code>
        </div>

        <div class="sol-alan-alt-kategoriler">
            <ul>
                <li><h4>Alt Kategoriler</h4></li>
                <li>Polo Yaka</li>
                <li>V Yaka</li>
                <li>Bisiklet Yaka</li>
            </ul>
        </div>
        <div class="sol-alan-filtre-marka">
            <h4>Markalar</h4>
            <input type="text" /><br />
            <div>
                <input type="checkbox" name="marka" id="mavi" />Mavi <br />
                <input type="checkbox" name="marka" id="sari" />Sarı <br />
                <input type="checkbox" name="marka" id="kirmizi" />Kırmızı <br />
                <input type="checkbox" name="marka" id="mor" />Mor <br />
                <input type="checkbox" name="marka" id="yeşil" />Yeşil <br />
                <input type="checkbox" name="marka" id="mavi" />Mavi <br />
                <input type="checkbox" name="marka" id="sari" />Sarı <br />
                <input type="checkbox" name="marka" id="kirmizi" />Kırmızı <br />
                <input type="checkbox" name="marka" id="mor" />Mor <br />
                <input type="checkbox" name="marka" id="yeşil" />Yeşil <br />
            </div>
        </div>
        <div class="sol-alan-filtre-beden">
            <h4>Beden</h4>
            <input type="text" /><br />
            <div>
                <input type="checkbox" name="marka" id="large" />L <br />
                <input type="checkbox" name="marka" id="x-large" />XL <br />
                <input type="checkbox" name="marka" id="xx-large" />XXL <br />
                <input type="checkbox" name="marka" id="medium" />M <br />
                <input type="checkbox" name="marka" id="small" />S <br />
                <input type="checkbox" name="marka" id="x-small" />XS <br />
                <input type="checkbox" name="marka" id="large" />L <br />
                <input type="checkbox" name="marka" id="x-large" />XL <br />
                <input type="checkbox" name="marka" id="xx-large" />XXL <br />
                <input type="checkbox" name="marka" id="medium" />M <br />
                <input type="checkbox" name="marka" id="small" />S <br />
                <input type="checkbox" name="marka" id="x-small" />XS <br />
            </div>
        </div>
        <div class="sol-alan-filtre-renk">
            <h4>Renk</h4>
            <input type="text" /><br />
            <div>
                <input type="checkbox" name="marka" id="mavim" /><span style="color: blue">Mavi</span>
                <br />
                <input type="checkbox" name="marka" id="sarim" /><span style="color: yellow">Sarı</span>
                <br />
                <input type="checkbox" name="marka" id="kirmizim" /><span style="color: red">Kırmızı</span>
                <br />
                <input type="checkbox" name="marka" id="morm" /><span style="color: purple">Mor</span>
                <br />
                <input type="checkbox" name="marka" id="yeşilm" /><span style="color: green">Yeşil</span>
                <br />
                <input type="checkbox" name="marka" id="mavim" /><span style="color: blue">Mavi</span>
                <br />
                <input type="checkbox" name="marka" id="sarim" /><span style="color: yellow">Sarı</span>
                <br />
                <input type="checkbox" name="marka" id="kirmizim" /><span style="color: red">Kırmızı</span>
                <br />
                <input type="checkbox" name="marka" id="morm" /><span style="color: purple">Mor</span>
                <br />
                <input type="checkbox" name="marka" id="yeşilm" /><span style="color: green">Yeşil</span>
                <br />
            </div>
        </div>
    </div>
    <div class="main-sag-alan">
        <div class="resim-alani">
            <a asp-all-route-data="a" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/1.jpg" alt="" srcset="" />
                    <h3>145698 Erkek T-Shirt</h3>
                    <p>19 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="b" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/2.jpg" alt="" srcset="" />
                    <h3>985632 Erkek T-Shirt</h3>
                    <p>72 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="c" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/3.jpg" alt="" srcset="" />
                    <h3>123457 Erkek T-Shirt</h3>
                    <p>44 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="d" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/4.jpg" alt="" srcset="" />
                    <h3>123458 Erkek T-Shirt</h3>
                    <p>33 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="e" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/5.jpg" alt="" srcset="" />
                    <h3>123459 Erkek T-Shirt</h3>
                    <p>12 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="f" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/6.jpg" alt="" srcset="" />
                    <h3>223456 Erkek T-Shirt</h3>
                    <p>54 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="g" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/1.jpg" alt="" srcset="" />
                    <h3>323456 Erkek T-Shirt</h3>
                    <p>43 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="h" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/2.jpg" alt="" srcset="" />
                    <h3>123856 Erkek T-Shirt</h3>
                    <p>32 &#8378</p>
                </div>
            </a>
            <a asp-all-route-data="i" asp-page="/Detay">
                <div class="resim">
                    <img src="../image/urunler/3.jpg" alt="" srcset="" />
                    <h3>123476 Erkek T-Shirt</h3>
                    <p>21 &#8378</p>
                </div>
            </a>

        </div>
    </div>
</div>
